@import '../App.css';

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 18rem;

}

li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

img#trash-icon {
    color: #FF33AE;
    height: 1rem;
    width: auto; 
    margin: 0.5rem;
}

img#pen-icon{
    color: #FF33AE;
    height: 1rem;
    width: auto;
    margin: 0.5rem;
}

