*{
  box-sizing: border-box;
 
}

body {
  padding: 0; 
  margin: 0;
  height: 100vh;
  width: 100%;
  font-size: 62.5%;
}

header {
  height: 6rem; 
  background-color: #FF33AE;
}

#box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
 
}


button {
  margin-left: 0.5rem;
  text-decoration: none;
  color: white;
  background-color: #FF33AE;
  padding: 0.2rem 1rem;
  border-style: none;
}

h1{ 
  justify-self: center;
}